html {
  height: 100%;
}

header {
  font-weight: bolder;
  font-size: 20px;
}

body {
  height: inherit;
  margin: 0px 118px;
  background-color: var(--c-secondary);
  color: var(--c-tertiary);
  font-family: var(--t-primary);
}

main {
  font-weight: bolder;
}

footer {
  font-size: 18px;
  color: var(--c-quinary);
  background-color: var(--c-secondary);

  display: flex;
  justify-content: space-between;
  align-items: center;
}